@font-face {font-family: 'Ubuntu-Regular'; src: url('font/ubuntu-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal;}
body{margin:0;padding:0;background: url(img/bg.png) left top repeat #000; font-family: "Ubuntu-Regular"; overflow:hidden;}
a:hover, #cp_pls a:hover {cursor: pointer !important;}

#video {position: absolute; right: 0; bottom: 48px; z-index: 1;}

#interface {z-index:100; width: 80%; height: 60px; position: absolute; left:0; bottom:0; background: #262626; border-top: 1px solid #666;}

#track {position: absolute; z-index: 10; width: 80%; left: 0; top: 35%; text-align:center;}
#sm_left, #sm_right, #title, #controllerContainer a, #tit_pl, #rating {color:#404040; text-shadow: 0 -1px 1px #000, 0 1px 1px #333;}
#sm_left, #sm_right, #title {font-size: 2em;}
#tit_pl {font-size: 1.5em;}

#progressBarContainer {background: #171717; border-bottom: 1px solid #333;}
#progressBar {height: 10px; width: 80%;}
#progressBarInner {width: 0px; height: 10px; background: blue; background: #4096ee;background: -moz-linear-gradient(top,  #4096ee 0%, #4096ee 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#4096ee));background: -webkit-linear-gradient(top,  #4096ee 0%,#4096ee 100%);background: -o-linear-gradient(top,  #4096ee 0%,#4096ee 100%);background: -ms-linear-gradient(top,  #4096ee 0%,#4096ee 100%);background: linear-gradient(to bottom,  #4096ee 0%,#4096ee 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 );transition:width 1s linear;-webkit-transition:width 1s linear;-moz-transition:width 1s linear;-o-transition:width 1s linear;}

#controllerContainer {padding: 15px 2% 0 2%;}
#controllerContainer a, #controllerContainer a:hover {transition:color 0.3s ease-in-out;-webkit-transition:color 0.3s ease-in-out;}
#controllerContainer a {font-size: 1.5em; padding: 0 10px;}
#controllerContainer a:hover {color: #666; cursor:pointer;}
#controllerLeft, #controllerMiddle, #controllerRight {float:left; width: 33.333%;}
#controllerLeft {text-align: left;}
#controllerMiddle {text-align: center;}
#controllerRight {text-align: right;}
#volume {display: inline-block; border: 1px solid #333; background: #171717; height: 15px; width: 100px;}
#volume:hover, #progressBar:hover {cursor:pointer;}
#volume:hover {background: #242424;}
#volume:hover #volumeInner {background: #666;}
#volume, #volume:hover, #cybplayerframe {transition:background 0.2s ease-in-out;-webkit-transition:background 0.2s ease-in-out;-moz-transition:background 0.2s ease-in-out;-o-transition:background 0.2s ease-in-out;}
#volumeInner, #volumeInner:hover {height: 15px; width: 20px; background: #323232; transition:width 0.2s ease-in-out, background 0.2s ease-in-out;-webkit-transition:width 0.2s ease-in-out, background 0.2s ease-in-out;-moz-transition:width 0.2s ease-in-out, background 0.2s ease-in-out;-o-transition:width 0.2s ease-in-out, background 0.2s ease-in-out;}
#bt_ply {display: none;}
#bt_dld {margin-right:18px;}
#dl_wrn, #vd_inf, #cp_pls {z-index: 50;color: #ececec; font-weight:bold; height:40px;width:70%;position:absolute;left:0;bottom:0;background: #141414;padding:10px 5%;margin:0;border-top: 1px solid #000; transition:bottom 0.2s ease-in-out;-webkit-transition:bottom 0.2s ease-in-out;-moz-transition:bottom 0.2s ease-in-out;-o-transition:bottom 0.2s ease-in-out;}
#dl_wrn {padding: 5px 5%;}
#bt_inf {margin-right: 20px;}
#bt_shf {color: #ececec;}

#vd_inf {font-weight: normal; height: 65px; border-bottom: 1px solid #000; top:-87px;}
#open_inf, #open_pls, #new {z-index:25; box-shadow: 1px 1px 1px #666; background: #141414; text-transform: uppercase; color: #fff; position:absolute; top:0; padding: 2px 4px; border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-o-border-radius: 0 0 5px 5px;}
#new a {color: #fff; text-decoration:none;}
#open_inf {left: 10px;}
#open_pls {right: 10px;}
#open_inf:hover {top: 85px;}
#open_inf:hover + #vd_inf, #vd_inf:hover{top: 0px;}
#open_inf, #open_inf:hover, #open_inf #vd_inf, #open_inf:hover #vd_inf, #vd_inf, #vd_inf:hover, #open_pls, #open_pls:hover, #open_pls #cp_pls, #open_pls:hover #cp_pls, #cp_pls, #cp_pls:hover{transition:top 0.2s ease-in-out;-webkit-transition:top 0.2s ease-in-out;-moz-transition:top 0.2s ease-in-out;-o-transition:top 0.2s ease-in-out;}
#open_pls:hover + #cp_pls, #cp_pls:hover{top: 0px;}
#cp_pls {font-weight: normal; height:250px; overflow: auto; border-bottom: 1px solid #000; top:-300px;}
#cp_pls a {color: #ececec; text-decoration: none; font-size:0.8em;} #cp_pls a:hover {color: #fff;} 

#new {left: 50%; margin-left: -100px; text-decoration:none; text-transform:none;}
#help {width: 60%; height: 420px; position: absolute; top: 100px; left: 20%; display:none; background: #141414; border: 1px solid #333;}
#helpInner {padding: 20px;}
#help,  #help h2, #help h3, #help a {color: #ececec;}
#help h3 {margin-bottom: -5px;}
#help h2 {text-align:center;}
#help table td {text-align:center;}
#help table td.l {text-align:left;}

/* editor */
.half {width: 50%; float:left;}
.cll {clear:left;}
.editor input, .editor textarea {color: #fff; width: 80%; margin: 10px 8%; padding: 0 2%; border: 1px solid #333; background: #141414; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;}
.editor input {height: 30px;}
.editor input[type="submit"] {width: 84%; padding: 0; margin: 10px 8%; background: #212121;}
.editor input[type="submit"]:hover {background: #232323; cursor:pointer;}

/* overview */
#version, #tt {color:grey; font-size: 0.8em;}
#version {dispay:block; position:absolute; text-align:right; top: 15px; right: 15px;}
.overview{display:block !important; height:auto !important;}
.overview center a {text-decoration:none; margin: 0 20px; display: inline-block;}
.overview center a i {display:block; font-size:2em;}
.overview h4{margin-bottom:0 !important;}
#bs td, #pl td {text-align:center; border-bottom: 1px solid #111; height: 30px;}
#pl td, #pl th {text-align:left !important;}
#pl td a {text-decoration:none;}
#pl td:first-of-type {width: 40%;}
#pl td:nth-of-type(2), #pl td:nth-of-type(3), #pl td:nth-of-type(4), #bs td:nth-of-type(2), #bs td:nth-of-type(3), #bs td:nth-of-type(4) {width: 20%;}
#bs td:first-of-type {text-align:left; border-right: 1px solid #111;}
#bs td i[class="icon-ok"]{color:green;} #bs td i[class="icon-remove"]{color:red;} #bs td i[class="icon-question-sign"]{color:grey;}
.helpnum {color:red; border:2px solid red; border-radius: 40px; -webkit-border-radius: 40px; padding: 5px 10px; margin:15px 0;}
.norm {padding: 5px !important;}

/* data-api */
#viewd {display: block; position: absolute; left: 5px; bottom: 60px; font-size: 1.4em;}
#rating {position: absolute; right: 5px; bottom: 60px; font-size: 1.4em;}
#viewd, #good {color: #707070;}
#good {display: inline-block; margin-right: -3px;}
#ctime, #ttime {color: #fff; position: absolute; display:block; font-size: 0.57em; bottom: 49px; z-index: 200;}
#ctime {left: 5px;} #ttime {right: 5px;}

/* playlist - display */
#playlistbox {position: fixed; top: 0; right: 0; width: 20%; background: #262626; -moz-box-shadow: -1px -1px 10px #111; -webkit-box-shadow: -1px -1px 10px #111; box-shadow: -1px -1px 10px #111; z-index:999;}
#playlistboxInner {padding: 20px;}



